In [2]:
import pymongo
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings('ignore')

In [3]:
conn = pymongo.MongoClient('localhost',27017)

In [4]:
conn.database_names()

['admin', 'config', 'local', 'smartcareer']

In [5]:
db = conn.smartcareer

In [6]:
db.collection_names()

['applicant_nonUS',
 'applicant',
 'applicantprofile',
 'applicantprofile_analyst']

In [7]:
col1 = db.applicantprofile_analyst
col2 = db.applicant

In [8]:
dat = []
for doc in col1.find():
    dat.append(doc)

In [9]:
len(dat)

1118

In [10]:
for doc in col2.find():
    dat.append(doc)

In [11]:
len(dat)

1890

In [12]:
dat[1]

{'_id': ObjectId('5dc67f512d165786280a5e8b'),
 'ProfileID': 'jinwoo-kang-097b0977',
 'Job Title': 'Analyst at Gerson Lehrman Group',
 'Location': 'United States',
 'Profile Summary': '',
 'Experience': [{'Job Title': 'Analyst',
   'Company': 'GLG (Gerson Lehrman Group)',
   'Period': 'Nov 2017 – Apr 2019',
   'Years': '1 yr 6 mos',
   'Location': 'Seoul, Korea',
   'Description': ''},
  {'Job Title': 'Guest Relations Executive',
   'Company': 'Conrad Hotels & Resorts',
   'Period': 'Oct 2016 – Jun 2017',
   'Years': '9 mos',
   'Location': 'Seoul, Korea',
   'Description': ''},
  {'Job Title': 'Human Resources',
   'Company': 'Four Seasons Hotels and Resorts',
   'Period': 'Jun 2015 – Sep 2015',
   'Years': '4 mos',
   'Location': 'London, United Kingdom',
   'Description': ''},
  {'Job Title': 'Intern',
   'Company': '법무법인(유) 지평',
   'Period': 'Jul 2011',
   'Years': '1 mo',
   'Location': 'Shanghai, China',
   'Description': ''}],
 'Education': [{'School': 'University of Surrey',
   'Degree': 'Bachelor of Science - BS Field Of Study ',
   'Date Attended': '2012 – 2016'},
  {'School': 'University of Surrey',
   'Degree': 'Exchange program  ',
   'Date Attended': '2014 – 2014'},
  {'School': 'University of Surrey',
   'Degree': 'High School  ',
   'Date Attended': '2009 – 2012'}],
 'Skills & Endorsements': [{'Skills': 'market research'},
  {'Skills': 'analyzing'},
  {'Skills': 'recruiting'}],
 'Industry Knowledge': [{'Skills': 'customer relation management'}],
 'Interpersonal Skills': [{'Skills': 'Problem Solving'},
  {'Skills': 'talent management'}],
 'Other Skills': [{'Skills': '리서치'},
  {'Skills': '프로젝트 관리'},
  {'Skills': 'MS 오피스'},
  {'Skills': '고객서비스'},
  {'Skills': '팀워크'},
  {'Skills': '문제관리'}],
 'Date Captured': '2019-11-09'}

In [13]:
dat[1].keys()

dict_keys(['_id', 'ProfileID', 'Job Title', 'Location', 'Profile Summary', 'Experience', 'Education', 'Skills & Endorsements', 'Industry Knowledge', 'Interpersonal Skills', 'Other Skills', 'Date Captured'])

In [14]:
dat[1].items()

dict_items([('_id', ObjectId('5dc67f512d165786280a5e8b')), ('ProfileID', 'jinwoo-kang-097b0977'), ('Job Title', 'Analyst at Gerson Lehrman Group'), ('Location', 'United States'), ('Profile Summary', ''), ('Experience', [{'Job Title': 'Analyst', 'Company': 'GLG (Gerson Lehrman Group)', 'Period': 'Nov 2017 – Apr 2019', 'Years': '1 yr 6 mos', 'Location': 'Seoul, Korea', 'Description': ''}, {'Job Title': 'Guest Relations Executive', 'Company': 'Conrad Hotels & Resorts', 'Period': 'Oct 2016 – Jun 2017', 'Years': '9 mos', 'Location': 'Seoul, Korea', 'Description': ''}, {'Job Title': 'Human Resources', 'Company': 'Four Seasons Hotels and Resorts', 'Period': 'Jun 2015 – Sep 2015', 'Years': '4 mos', 'Location': 'London, United Kingdom', 'Description': ''}, {'Job Title': 'Intern', 'Company': '법무법인(유) 지평', 'Period': 'Jul 2011', 'Years': '1 mo', 'Location': 'Shanghai, China', 'Description': ''}]), ('Education', [{'School': 'University of Surrey', 'Degree': 'Bachelor of Science - BS Field Of Study ', 'Date Attended': '2012 – 2016'}, {'School': 'University of Surrey', 'Degree': 'Exchange program  ', 'Date Attended': '2014 – 2014'}, {'School': 'University of Surrey', 'Degree': 'High School  ', 'Date Attended': '2009 – 2012'}]), ('Skills & Endorsements', [{'Skills': 'market research'}, {'Skills': 'analyzing'}, {'Skills': 'recruiting'}]), ('Industry Knowledge', [{'Skills': 'customer relation management'}]), ('Interpersonal Skills', [{'Skills': 'Problem Solving'}, {'Skills': 'talent management'}]), ('Other Skills', [{'Skills': '리서치'}, {'Skills': '프로젝트 관리'}, {'Skills': 'MS 오피스'}, {'Skills': '고객서비스'}, {'Skills': '팀워크'}, {'Skills': '문제관리'}]), ('Date Captured', '2019-11-09')])

In [15]:
data = pd.DataFrame(dat)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 15 columns):
                         437 non-null object
Date Captured            1890 non-null object
Education                1890 non-null object
Experience               1890 non-null object
Industry Knowledge       1079 non-null object
Interpersonal Skills     927 non-null object
Job Title                1890 non-null object
Languages                151 non-null object
Location                 1890 non-null object
Other Skills             851 non-null object
Profile Summary          1890 non-null object
ProfileID                1890 non-null object
Skills & Endorsements    1890 non-null object
Tools & Technologies     1021 non-null object
_id                      1890 non-null object
dtypes: object(15)
memory usage: 221.6+ KB

In [16]:
data.head()

,,Date Captured,Education,Experience,Industry Knowledge,Interpersonal Skills,Job Title,Languages,Location,Other Skills,Profile Summary,ProfileID,Skills & Endorsements,Tools & Technologies,_id
0,NaN,2019-11-09,"[{'School': 'University of California, Irvine ...","[{'Job Title': 'Data Analyst', 'Company': 'NEX...","[{'Skills': 'SEO'}, {'Skills': 'Business Devel...","[{'Skills': 'Management'}, {'Skills': 'Custome...",Data Analyst,NaN,"Emeryville, California","[{'Skills': 'Inbound Marketing'}, {'Skills': '...",Detail-oriented marketing data analyst with st...,emmabobaekong,"[{'Skills': 'Data Analysis'}, {'Skills': 'SQL'...","[{'Skills': 'Google Analytics'}, {'Skills': 'P...",5dc67f352d165786280a5e89
1,NaN,2019-11-09,"[{'School': 'University of Surrey', 'Degree': ...","[{'Job Title': 'Analyst', 'Company': 'GLG (Ger...",[{'Skills': 'customer relation management'}],"[{'Skills': 'Problem Solving'}, {'Skills': 'ta...",Analyst at Gerson Lehrman Group,NaN,United States,"[{'Skills': '리서치'}, {'Skills': '프로젝트 관리'}, {'S...",,jinwoo-kang-097b0977,"[{'Skills': 'market research'}, {'Skills': 'an...",NaN,5dc67f512d165786280a5e8b
2,NaN,2019-11-09,"[{'School': 'University of California, Los Ang...","[{'Job Title': 'Company Name Google', 'Company...","[{'Skills': 'Project Management'}, {'Skills': ...",NaN,"Regional Analyst, Google",NaN,Greater New York City Area,"[{'Skills': 'Marketing Research'}, {'Skills': ...",,suzannesoojungbae,"[{'Skills': 'Online Advertising'}, {'Skills': ...",NaN,5dc67f692d165786280a5e8d
3,NaN,2019-11-09,"[{'School': 'University of California, Berkele...","[{'Job Title': 'Strategy Analyst', 'Company': ...","[{'Skills': 'Data Analysis'}, {'Skills': 'Even...","[{'Skills': 'Leadership'}, {'Skills': 'Custome...",Strategy Analyst at Accenture,NaN,"Berkeley, California",NaN,,hayliekim,"[{'Skills': 'Microsoft Office'}, {'Skills': 'P...","[{'Skills': 'Microsoft Excel'}, {'Skills': 'Mi...",5dc67f832d165786280a5e8f
4,NaN,2019-11-09,[{'School': 'University of Pittsburgh College ...,"[{'Job Title': 'Company Name Responsival', 'Co...","[{'Skills': 'Digital Marketing'}, {'Skills': '...","[{'Skills': 'Leadership'}, {'Skills': 'Communi...",Data Analyst at Microsoft,[{'Skills': 'Chinese'}],Greater Pittsburgh Area,[{'Skills': 'HootSuite'}],A passionate and eager individual who is alway...,angeline-peng,"[{'Skills': 'Project Management'}, {'Skills': ...","[{'Skills': 'Microsoft Office'}, {'Skills': 'Y...",5dc67f9e2d165786280a5e91

In [17]:
data.tail()

,,Date Captured,Education,Experience,Industry Knowledge,Interpersonal Skills,Job Title,Languages,Location,Other Skills,Profile Summary,ProfileID,Skills & Endorsements,Tools & Technologies,_id
1885,[{'Skills': ''}],2019-11-17,[],[],NaN,NaN,Talent Analyst at Vaco,NaN,"San Diego, California",NaN,,fallonoconnor,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,5dd0272c3de9c6096a2562af
1886,[{'Skills': ''}],2019-11-17,[],[],NaN,NaN,Data Science at Caesars Entertainment Corporation,NaN,"Las Vegas, Nevada",NaN,,zach-sherman-3aa3a9a5,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,5dd0275f3de9c6096a2562b1
1887,"[{'Skills': ''}, {'Skills': ''}]",2019-11-17,[{'School': 'The Johns Hopkins University - Ca...,"[{'Job Title': 'Marketing Manager', 'Company':...",NaN,NaN,Marketing Manager at The Mansion at Glen Cove,NaN,Greater New York City Area,NaN,Vibrant MBA candidate with three-years of expe...,joanne-yang,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,5dd027b13de9c6096a2562b7
1888,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''...",2019-11-17,[],[],NaN,NaN,Direct Marketing Manager at Best Western® Hote...,NaN,"Glendale, Arizona",NaN,,katisrael,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,5dd027c53de9c6096a2562b9
1889,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",2019-11-17,[],[],NaN,NaN,Director Of Business Development at Mad Tasty LLC,NaN,"Venice, California",NaN,,vincentmartiniii,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,5dd027d83de9c6096a2562bb

In [18]:
# 불필요한 열은 우선 삭제하겠다-
null_list = ['_id', 'Profile Summary', 'Date Captured']

data.drop(null_list, axis=1, inplace=True)
data.columns

Index(['', 'Education', 'Experience', 'Industry Knowledge',
       'Interpersonal Skills', 'Job Title', 'Languages', 'Location',
       'Other Skills', 'ProfileID', 'Skills & Endorsements',
       'Tools & Technologies'],
      dtype='object')

In [19]:
#Date Capture 앞에 있는 행 이상해서 그냥 빼야겠다.
data.columns[0]

''

In [20]:
data.drop(data.columns[0], axis='columns', inplace = True)

In [21]:
data.head()

,Education,Experience,Industry Knowledge,Interpersonal Skills,Job Title,Languages,Location,Other Skills,ProfileID,Skills & Endorsements,Tools & Technologies
0,"[{'School': 'University of California, Irvine ...","[{'Job Title': 'Data Analyst', 'Company': 'NEX...","[{'Skills': 'SEO'}, {'Skills': 'Business Devel...","[{'Skills': 'Management'}, {'Skills': 'Custome...",Data Analyst,NaN,"Emeryville, California","[{'Skills': 'Inbound Marketing'}, {'Skills': '...",emmabobaekong,"[{'Skills': 'Data Analysis'}, {'Skills': 'SQL'...","[{'Skills': 'Google Analytics'}, {'Skills': 'P..."
1,"[{'School': 'University of Surrey', 'Degree': ...","[{'Job Title': 'Analyst', 'Company': 'GLG (Ger...",[{'Skills': 'customer relation management'}],"[{'Skills': 'Problem Solving'}, {'Skills': 'ta...",Analyst at Gerson Lehrman Group,NaN,United States,"[{'Skills': '리서치'}, {'Skills': '프로젝트 관리'}, {'S...",jinwoo-kang-097b0977,"[{'Skills': 'market research'}, {'Skills': 'an...",NaN
2,"[{'School': 'University of California, Los Ang...","[{'Job Title': 'Company Name Google', 'Company...","[{'Skills': 'Project Management'}, {'Skills': ...",NaN,"Regional Analyst, Google",NaN,Greater New York City Area,"[{'Skills': 'Marketing Research'}, {'Skills': ...",suzannesoojungbae,"[{'Skills': 'Online Advertising'}, {'Skills': ...",NaN
3,"[{'School': 'University of California, Berkele...","[{'Job Title': 'Strategy Analyst', 'Company': ...","[{'Skills': 'Data Analysis'}, {'Skills': 'Even...","[{'Skills': 'Leadership'}, {'Skills': 'Custome...",Strategy Analyst at Accenture,NaN,"Berkeley, California",NaN,hayliekim,"[{'Skills': 'Microsoft Office'}, {'Skills': 'P...","[{'Skills': 'Microsoft Excel'}, {'Skills': 'Mi..."
4,[{'School': 'University of Pittsburgh College ...,"[{'Job Title': 'Company Name Responsival', 'Co...","[{'Skills': 'Digital Marketing'}, {'Skills': '...","[{'Skills': 'Leadership'}, {'Skills': 'Communi...",Data Analyst at Microsoft,[{'Skills': 'Chinese'}],Greater Pittsburgh Area,[{'Skills': 'HootSuite'}],angeline-peng,"[{'Skills': 'Project Management'}, {'Skills': ...","[{'Skills': 'Microsoft Office'}, {'Skills': 'Y..."

In [22]:
# 우선 중복되는 데이터는 제거해줘야겠다. 
# ProfileID가 같으니까 이걸 기준으로 제거

In [23]:
data.drop_duplicates(subset = 'ProfileID', inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1683 entries, 0 to 1889
Data columns (total 11 columns):
Education                1683 non-null object
Experience               1683 non-null object
Industry Knowledge       967 non-null object
Interpersonal Skills     825 non-null object
Job Title                1683 non-null object
Languages                131 non-null object
Location                 1683 non-null object
Other Skills             765 non-null object
ProfileID                1683 non-null object
Skills & Endorsements    1683 non-null object
Tools & Technologies     906 non-null object
dtypes: object(11)
memory usage: 157.8+ KB

In [25]:
# 1890개에서 1683개로 줄었다.

In [27]:
# ProfileID 대신에 ID열 생성하기
data['ID'] = data.index

In [31]:
# ID테이블 생성
data_ID = pd.DataFrame(data[['ID', 'ProfileID']])
data_ID

        ID                                    ProfileID
0        0                                emmabobaekong
1        1                         jinwoo-kang-097b0977
2        2                            suzannesoojungbae
3        3                                    hayliekim
4        4                                angeline-peng
5        5                            ieum-han-365533b4
6        6                         jihye-park-5283a6135
7        7                           kellyyeonjikim1027
8        8                                     aneceahn
9        9                                    shelbykim
10      10                                       reywon
11      11                         sadie-park-572a84132
12      12                            joy-han-601b7910b
13      13                                michelle-shen
14      14                                       ziyilu
15      15                                     kuangamy
16      16                         hayley-kim-322a33108
17      17                                  heather-huh
18      18                           sujin-lee-437a52a4
19      19                                  jiaxuan-han
20      20                     john-paul-jones-493b8459
21      21                                    minoh0224
22      22                           yuying-q-689228125
23      23                                     dianeseo
24      24                                   amyyeung11
25      25                                        mmwei
26      26                hanqing-carol-jiang-092530119
27      27                          meiying-li-b5708340
28      28                            runqi-vanessa-fan
29      29                           anna-kang-44213491
...    ...                                          ...
1858  1858                     kathryn-winokur-90a83b15
1859  1859                                      ash-ram
1860  1860                                  noahturner1
1861  1861                                    francessf
1862  1862                       jessica-smith-a1682514
1863  1863                       chris-donato-a85339112
1864  1864                                      adamtav
1865  1865                                 wongnvrwrong
1867  1867                             josephkholodenko
1868  1868                                  garydeberry
1869  1869                                   jiayuanguo
1870  1870                              janinegianfredi
1871  1871                                     argerich
1872  1872                         jack-carter-a3930242
1873  1873                              ivan-h-9a222030
1874  1874                      andrew-newland-2bb9485a
1876  1876                                      bmarcus
1877  1877                                    johnwernz
1878  1878                                  arhantbatra
1879  1879  mar%C3%ADa-catalina-lemus-remolina-b088962b
1880  1880                                   russsomers
1881  1881                          ryan-rubin-97910916
1882  1882                        jayne-ritter-826a41a4
1883  1883                                pwilliamjoyce
1884  1884                                   jruizluque
1885  1885                                fallonoconnor
1886  1886                        zach-sherman-3aa3a9a5
1887  1887                                  joanne-yang
1888  1888                                    katisrael
1889  1889                             vincentmartiniii

[1683 rows x 2 columns]

In [33]:
# 혹시 모르니 위 파일 CSV화 -
data_ID.to_csv('ID.csv')

In [35]:
# 이제 Profile열 삭제
del data['ProfileID']
data

,Education,Experience,Industry Knowledge,Interpersonal Skills,Job Title,Languages,Location,Other Skills,Skills & Endorsements,Tools & Technologies,ID
0,"[{'School': 'University of California, Irvine ...","[{'Job Title': 'Data Analyst', 'Company': 'NEX...","[{'Skills': 'SEO'}, {'Skills': 'Business Devel...","[{'Skills': 'Management'}, {'Skills': 'Custome...",Data Analyst,NaN,"Emeryville, California","[{'Skills': 'Inbound Marketing'}, {'Skills': '...","[{'Skills': 'Data Analysis'}, {'Skills': 'SQL'...","[{'Skills': 'Google Analytics'}, {'Skills': 'P...",0
1,"[{'School': 'University of Surrey', 'Degree': ...","[{'Job Title': 'Analyst', 'Company': 'GLG (Ger...",[{'Skills': 'customer relation management'}],"[{'Skills': 'Problem Solving'}, {'Skills': 'ta...",Analyst at Gerson Lehrman Group,NaN,United States,"[{'Skills': '리서치'}, {'Skills': '프로젝트 관리'}, {'S...","[{'Skills': 'market research'}, {'Skills': 'an...",NaN,1
2,"[{'School': 'University of California, Los Ang...","[{'Job Title': 'Company Name Google', 'Company...","[{'Skills': 'Project Management'}, {'Skills': ...",NaN,"Regional Analyst, Google",NaN,Greater New York City Area,"[{'Skills': 'Marketing Research'}, {'Skills': ...","[{'Skills': 'Online Advertising'}, {'Skills': ...",NaN,2
3,"[{'School': 'University of California, Berkele...","[{'Job Title': 'Strategy Analyst', 'Company': ...","[{'Skills': 'Data Analysis'}, {'Skills': 'Even...","[{'Skills': 'Leadership'}, {'Skills': 'Custome...",Strategy Analyst at Accenture,NaN,"Berkeley, California",NaN,"[{'Skills': 'Microsoft Office'}, {'Skills': 'P...","[{'Skills': 'Microsoft Excel'}, {'Skills': 'Mi...",3
4,[{'School': 'University of Pittsburgh College ...,"[{'Job Title': 'Company Name Responsival', 'Co...","[{'Skills': 'Digital Marketing'}, {'Skills': '...","[{'Skills': 'Leadership'}, {'Skills': 'Communi...",Data Analyst at Microsoft,[{'Skills': 'Chinese'}],Greater Pittsburgh Area,[{'Skills': 'HootSuite'}],"[{'Skills': 'Project Management'}, {'Skills': ...","[{'Skills': 'Microsoft Office'}, {'Skills': 'Y...",4
5,"[{'School': '연세대학교', 'Degree': 'Master of Fine...","[{'Job Title': 'UX Designer (과장/파트장)', 'Compan...",NaN,NaN,UX Analyst & UX Designer,NaN,Greater Seattle Area,NaN,[],NaN,5
6,"[{'School': 'Dankook University', 'Degree': 'B...","[{'Job Title': 'Data Analyst', 'Company': 'SK ...",NaN,NaN,Data Analyst,NaN,San Francisco Bay Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,6
7,[],[],NaN,NaN,Actuarial Analyst at Willis Towers Watson,NaN,"Berkeley, California",NaN,[],NaN,7
8,[],[],NaN,NaN,Data Analyst,NaN,Greater Los Angeles Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,8
9,"[{'School': 'University of California, Berkele...","[{'Job Title': 'Investment Banking Analyst', '...","[{'Skills': 'Event Planning'}, {'Skills': 'Pub...","[{'Skills': 'Teaching'}, {'Skills': 'Leadershi...",Investment Banking Analyst at Evercore,NaN,Greater New York City Area,NaN,"[{'Skills': 'Public Speaking'}, {'Skills': 'Mi...","[{'Skills': 'Microsoft Office'}, {'Skills': 'P...",9
10,"[{'School': 'Northwestern University', 'Degree...",[{'Job Title': 'Global Operations and Sales Su...,[{'Skills': 'Research'}],NaN,Research Analyst at Mercer,NaN,"Evanston, Illinois",NaN,"[{'Skills': 'Data Analysis'}, {'Skills': 'R'},...","[{'Skills': 'Tableau'}, {'Skills': 'Microsoft ...",10
11,[],[],NaN,NaN,Actuarial Analyst at Willis Towers Watson,NaN,Greater Chicago Area,NaN,[],NaN,11
12,"[{'School': 'Cornell University', 'Degree': 'B...","[{'Job Title': 'Business Analyst', 'Company': ...",NaN,NaN,Business Analyst at Wavestone US,NaN,"New York, New York",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,12
13,"[{'School': 'University of Pennsylvania', 'Deg...","[{'Job Title': 'Analyst', 'Company': 'Windrose...",NaN,NaN,Analyst at Windrose Consulting Group,NaN,"Philadelphia, Pennsylvania",NaN,[{'Skills': 'Leadership'}],NaN,13
14,[{'School': 'Northwestern University - Kellogg...,"[{'Job Title': 'Company Name Goldman Sachs', '...",[{'Skills': 'Data Analysis'}],NaN,Analyst at Goldman Sachs,[{'Skills': 'Mandarin'}],Greater Chicago Area,NaN,"[{'Skills': 'Financial Accounting'}, {'Skills'...","[{'Skills': 'Microsoft Excel'}, {'Skills': 'Py...",14
15,"[{'School': 'Northwestern University', 'Degree...","[{'Job Title': 'Analyst', 'Company': 'Nielsen'...",NaN,[{'Skills': 'Customer Service'}],Analyst at Nielsen,NaN,Greater Chicago Area,NaN,"[{'Skills': 'Microsoft Excel'}, {'Skills': 'Mi...",[{'Skills': 'Photoshop'}],15
16,"[{'School': 'The Wharton School', 'Degree': 'B...","[{'Job Title': 'Investment Banking Analyst', '...",NaN,NaN,Investment Banking Analyst at J.P. Morgan,NaN,"Philadelphia, Pennsylvania",NaN,[],NaN,16
17,"[{'School': 'Cornell University', 'Degree': 'B...",[{'Job Title': 'Human Resource Consulting Inte...,"[{'Skills': 'Volunteering'}, {'Skills': 'Music...","[{'Skills': 'Organization Skills'}, {'Skills':...",Summer Analyst at Citi,NaN,Greater New York City Area,NaN,"[{'Skills': 'Teamwork'}, {'Skills': 'Microsoft...",[{'Skills': 'Microsoft Word'}],17
18,[{'School': 'University of Pennsylvania - The ...,"[{'Job Title': 'M&A Analyst', 'Company': 'Fred...","[{'Skills': 'Data Analysis'}, {'Skills': 'Soci...","[{'Skills': 'Leadership'}, {'Skills': 'Custome...",M&A Analyst at Fredericks Michael & Co.,NaN,"New York, New York",NaN,"[{'Skills': 'Microsoft Excel'}, {'Skills': 'Ma...",NaN,18
19,"[{'School': 'Northwestern University', 'Degree...","[{'Job Title': 'Sr. Media Specialist', 'Compan...",NaN,NaN,Marketing Analyst,NaN,Greater Chicago Area,NaN,[],NaN,19
20,[],[],NaN,NaN,Financial Analyst,NaN,Washington D.C. Metro Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,20
21,"[{'School': 'University of Washington', 'Degre...","[{'Job Title': 'Transportation Analyst', 'Comp...",NaN,NaN,Transportation Analyst,NaN,Greater Seattle Area,NaN,[],NaN,21
22,[{'School': 'Columbia University in the City o...,"[{'Job Title': 'Analyst', 'Company': 'AIG', 'P...",NaN,NaN,Analyst,NaN,Greater New York City Area,NaN,"[{'Skills': 'Statistical Modeling'}, {'Skills'...",NaN,22
23,"[{'School': 'Indiana University Bloomington', ...","[{'Job Title': 'CEO', 'Company': 'CarrierDirec...","[{'Skills': 'Digital Marketing'}, {'Skills': '...","[{'Skills': 'Client Relations Skills'}, {'Skil...",CEO - CarrierDirect,NaN,"Chicago, Illinois","[{'Skills': 'IT Cost Optimization'}, {'Skills'...","[{'Skills': 'Social Media'}, {'Skills': 'Acces...","[{'Skills': 'Microsoft Excel'}, {'Skills': 'HT...",23
24,"[{'School': 'University of California, Berkele...",[{'Job Title': 'Planning and Inventory Analyst...,"[{'Skills': 'Event Planning'}, {'Skills': 'Soc...","[{'Skills': 'Leadership'}, {'Skills': 'Custome...",Planning and Inventory Analyst,"[{'Skills': 'Mandarin'}, {'Skills': 'Spanish'}]",San Francisco Bay Area,[{'Skills': 'Social Networking'}],"[{'Skills': 'Marketing'}, {'Skills': 'Public R...","[{'Skills': 'Microsoft Excel'}, {'Skills': 'Fa...",24
25,[],[],"[{'Skills': 'Event Planning'}, {'Skills': 'Bus...","[{'Skills': 'Leadership'}, {'Skills': 'Teamwor...",Business Analyst | Data Analyst,NaN,United States,"[{'Skills': 'Linear Programming'}, {'Skills': ...","[{'Skills': 'Data Analysis'}, {'Skills': 'Spre...","[{'Skills': 'Microsoft Office'}, {'Skills': 'M...",25
26,"[{'School': 'Cornell University', 'Degree': 'B...","[{'Job Title': 'Financial Modelling Analyst', ...",NaN,NaN,Financial Modelling Analyst at Goldman Sachs,NaN,"Jersey City, New Jersey",NaN,[],NaN,26
27,"[{'School': 'Indiana University Bloomington', ...","[{'Job Title': 'Financial Analyst', 'Company':...","[{'Skills': 'Accounting'}, {'Skills': 'Financi...",[{'Skills': 'Customer Service'}],"Financial Analyst, CPA",[{'Skills': 'English'}],San Francisco Bay Area,"[{'Skills': 'Balance Sheet'}, {'Skills': 'Budg...","[{'Skills': 'Microsoft Office'}, {'Skills': 'M...","[{'Skills': 'PowerPoint'}, {'Skills': 'Microso...",27
28,"[{'School': 'Cornell University', 'Degree': 'B...","[{'Job Title': 'Analyst, Development Planning ...",NaN,NaN,Analyst at Marriott International,NaN,"Ithaca, New York","[{'Skills': 'WeChat'}, {'Skills': 'Korean'}]","[{'Skills': 'Microsoft Excel'}, {'Skills': 'Mi...",[{'Skills': 'PowerPoint'}],28
29,"[{'School': 'Harvard University', 'Degree': 'A...","[{'Job Title': 'Analyst', 'Company': 'ING Capi...","[{'Skills': 'Translation'}, {'Skills': 'Resear...","[{'Skills': 'Team Leadership'}, {'Skills': 'In...",Analyst at ING,"[{'Skills': 'French'}, {'Skills': 'English'}]",Greater Boston Area,[{'Skills': 'Simultaneous Interpretation'}],"[{'Skills': 'R Studio'}, {'Skills': 'Stata'}, ...","[{'Skills': 'WordPress'}, {'Skills': 'InDesign...",29
...,...,...,...,...,...,...,...,...,...,...,...
1858,[],[],NaN,NaN,Head of Marketing at Jetblack,NaN,Greater New York City Area,NaN,[],NaN,1858
1859,[],[],NaN,NaN,Actively seeking full-time opportunities as a ...,NaN,"Fullerton, California",NaN,[],NaN,1859
1860,[],[],NaN,NaN,"Director, Business Solution Architecture at Hi...",NaN,"Ashburn, Virginia",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1860
1861,[],[],NaN,NaN,Marketing Director at Instawork,NaN,"San Francisco, California",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1861
1862,[],[],NaN,NaN,Marketing Manager at D&H Distributing,NaN,"Harrisburg, Pennsylvania Area",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1862
1863,[],[],NaN,NaN,Business Technology Analyst at Deloitte,NaN,"Madison, New Jersey",NaN,[],NaN,1863
1864,[],[],NaN,NaN,Marketing at PepsiCo,NaN,Dallas/Fort Worth Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1864
1865,[],[],NaN,NaN,Consulting Analyst at Cerner Corporation,NaN,"Chicago, Illinois",NaN,[],NaN,1865
1867,[],[],NaN,NaN,Data Scientist at Google,NaN,"New York, New York",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1867
1868,[],[],NaN,NaN,Marketing at HomeLight,NaN,San Francisco Bay Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1868
1869,[],[],NaN,NaN,Market research and analyst intern at Omni Nano,NaN,"Los Angeles, California",NaN,[],NaN,1869
1870,[],[],NaN,NaN,Marketing at Instagram,NaN,San Francisco Bay Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1870
1871,[],[],NaN,NaN,VP Marketing at Udemy,NaN,San Francisco Bay Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1871
1872,[],[],NaN,NaN,Sales and Marketing Operations Manager at Unit...,NaN,"Greenwich, Connecticut",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1872
1873,[],[],NaN,NaN,Digital Marketing Specialist,NaN,"New York, New York",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1873
1874,[],[],NaN,NaN,"Manager, Marketing Analytics at Comcast",NaN,Greater Philadelphia Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1874
1876,[],[],NaN,NaN,VP of Global Marketing,NaN,"Seattle, Washington",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1876
1877,[],[],NaN,NaN,Chief Marketing Officer,NaN,"Minneapolis, Minnesota",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1877
1878,[],[],NaN,NaN,"Strategist, Consultant and Data Analytics Prof...",NaN,Greater Los Angeles Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1878
1879,[],[],NaN,NaN,Freelance Marketing Consultant at 8C PARTNERS,NaN,"Windermere, Florida",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1879
1880,[],[],NaN,NaN,VP Marketing at TrustRadius,NaN,"Pflugerville, Texas",NaN,[],NaN,1880
1881,[],[],NaN,NaN,Director Of Operations at The D Casino Hotel L...,NaN,"Henderson, Nevada",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1881
1882,[],[],NaN,NaN,Leisure Sales Manager at Conrad Hotels & Resorts,NaN,Miami/Fort Lauderdale Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1882
1883,[],[],NaN,NaN,Director of Business Development at fullcast.io,NaN,"Seattle, Washington",NaN,[],NaN,1883
1884,[],[],NaN,NaN,Chief Financial Officer at Arglass,NaN,"New York, New York",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1884
1885,[],[],NaN,NaN,Talent Analyst at Vaco,NaN,"San Diego, California",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1885
1886,[],[],NaN,NaN,Data Science at Caesars Entertainment Corporation,NaN,"Las Vegas, Nevada",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1886
1887,[{'School': 'The Johns Hopkins University - Ca...,"[{'Job Title': 'Marketing Manager', 'Company':...",NaN,NaN,Marketing Manager at The Mansion at Glen Cove,NaN,Greater New York City Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1887
1888,[],[],NaN,NaN,Direct Marketing Manager at Best Western® Hote...,NaN,"Glendale, Arizona",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1888
1889,[],[],NaN,NaN,Director Of Business Development at Mad Tasty LLC,NaN,"Venice, California",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1889

In [36]:
# 인덱스 재설정 (중복행 제거로 뒤섞였으니까)
data = data.reset_index(drop=True)
data.index

RangeIndex(start=0, stop=1683, step=1)

In [38]:
data.tail()

,Education,Experience,Industry Knowledge,Interpersonal Skills,Job Title,Languages,Location,Other Skills,Skills & Endorsements,Tools & Technologies,ID
1678,[],[],NaN,NaN,Talent Analyst at Vaco,NaN,"San Diego, California",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1885
1679,[],[],NaN,NaN,Data Science at Caesars Entertainment Corporation,NaN,"Las Vegas, Nevada",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1886
1680,[{'School': 'The Johns Hopkins University - Ca...,"[{'Job Title': 'Marketing Manager', 'Company':...",NaN,NaN,Marketing Manager at The Mansion at Glen Cove,NaN,Greater New York City Area,NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1887
1681,[],[],NaN,NaN,Direct Marketing Manager at Best Western® Hote...,NaN,"Glendale, Arizona",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1888
1682,[],[],NaN,NaN,Director Of Business Development at Mad Tasty LLC,NaN,"Venice, California",NaN,"[{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]",NaN,1889

In [41]:
# Job List 소문자로 변경하기
job_list = []

for job in data['Job Title']:
    job_list.append(job.lower())

job_list

['data analyst',
 'analyst at gerson lehrman group',
 'regional analyst, google',
 'strategy analyst at accenture',
 'data analyst at microsoft',
 'ux analyst & ux designer',
 'data analyst',
 'actuarial analyst at willis towers watson',
 'data analyst',
 'investment banking analyst at evercore',
 'research analyst at mercer',
 'actuarial analyst at willis towers watson',
 'business analyst at wavestone us',
 'analyst at windrose consulting group',
 'analyst at goldman sachs',
 'analyst at nielsen',
 'investment banking analyst at j.p. morgan',
 'summer analyst at citi',
 'm&a analyst at fredericks michael & co.',
 'marketing analyst',
 'financial analyst',
 'transportation analyst',
 'analyst',
 'ceo - carrierdirect',
 'planning and inventory analyst',
 'business analyst | data analyst',
 'financial modelling analyst at goldman sachs',
 'financial analyst, cpa',
 'analyst at marriott international',
 'analyst at ing',
 'market intelligence analyst',
 'financial analyst at cisco',
 'climate policy analyst at undp',
 'financial analyst at fiserv',
 'cgi business analyst',
 'business analyst at flipt',
 'risk analyst at mutual of america',
 'gtm operations analyst at zendesk',
 'upward analyst at yext',
 'sr. analyst at zt systems',
 'digital analyst at analytics pros',
 'incoming analyst at goldman sachs',
 'financial analyst at express',
 'investment banking analyst at natixis cib americas',
 'analyst at goldman sachs',
 'business analyst',
 'global equity research analyst',
 'senior risk analyst at calpine energy solutions, llc',
 'market insights and strategy analyst',
 'consulting analyst at accenture',
 'marketing analyst',
 'fp&a financial analyst',
 'analyst at blackrock',
 'compensation analyst',
 'analyst at cj e&m',
 'data analyst at naver corp. / e-commerce specialist',
 'analyst at pingan ventures',
 'analyst at yext',
 'financial analyst ii at amazon',
 'healthcare investment banking analyst at jefferies',
 'analyst at fortress investment group',
 'investment analyst at metropoly holdings limited',
 'human resource analyst',
 'cost analyst - uss-posco industries',
 'co-founder and data analyst at box and whisker',
 "business analyst at farm'd",
 'analyst at blackrock',
 'analyst at goldman sachs',
 'financial analyst at ghana interbank payment and settlement systems limited',
 'data analyst',
 'analyst at pershing square',
 'business system analyst at nhn global',
 'search analyst',
 'analyst at strong ventures',
 'smith college senior | incoming analyst at analysis group',
 'legal analyst @ dropbox!',
 'analyst at sony pictures entertainment',
 'investment banking analyst at moelis & company',
 'data analyst at gallagher',
 'journalist, economics & global affairs analyst',
 'it business systems analyst intern at honeywell',
 'data analyst developer',
 'business analyst at deloitte consulting strategy & operations',
 'data analyst',
 'market research analyst associate at university of michigan medical school',
 'senior growth strategy analyst at 3q digital',
 'summer analyst at goldman sachs',
 'crm analyst at nestlé nespresso',
 'data analyst / business intelligence',
 'insights analyst',
 'senior analyst at deloitte',
 'credit analyst',
 'incoming financial analyst at google',
 'analyst at peerstreet',
 'manager at keit(korea evaluation institute of industrial technology), silicon valley',
 'avp senior credit analyst at veritex community bank',
 'applications analyst at south carolina department of education',
 'incoming investment banking analyst at citi',
 'chargeback analyst',
 'incoming quantitative & technology services summer analyst at royal bank of canada',
 'business analyst',
 'financial analyst',
 'analyst at airbnb',
 'data analyst',
 'revenue analyst',
 'business analyst★cost analyst',
 'bsa analyst at cbb bank - commonwealth business bank',
 '2012 olympian and business analyst at mckinsey & company',
 'cfdp summer analyst at suntrust',
 'analyst at meltwater',
 'data analyst',
 'data analyst',
 'compensation analyst at dropbox',
 'quantitative analyst',
 'administrative analyst',
 'high standard business analyst with creativity',
 'senior financial analyst at modernmd urgent care',
 'bytedance/tiktok-we are hiring!',
 'financial analyst',
 'people analyst at tesla',
 'tax analyst',
 'analyst at maverick capital',
 'analyst at goldman sachs',
 'financial analyst',
 'business intelligence analyst at google',
 'investment banking analyst at jefferies',
 'benefits analyst at aeg',
 'analyst at third point',
 'investment banking analyst at goldman sachs',
 'business analyst | owner pbc',
 'investment banking analyst at goldman sachs',
 'investment banking analyst at goldman sachs',
 'investment banking analyst at morgan stanley',
 'analyst at accenture',
 'business analyst at amazon',
 'credit analyst',
 'analyst at ribbit capital',
 'micromobility industries, asymco.com',
 'analyst, blackstone infrastructure at blackstone',
 'financial analyst',
 'analyst at goldman sachs',
 'analyst @ microsoft | schwarzman scholar ‘20',
 'staff database engineer at visa',
 'intelligence analyst at cwu, inc',
 'consulting analyst at accenture',
 'analyst at goldman sachs',
 'incoming full-time analyst at jpmorgan chase & co.',
 'international keynote speaker, thought leader, analyst, advisor, @briansolis',
 'analyst at the blackstone group',
 'marketing analyst • mentee • entrepreneur',
 'analyst at the blackstone group',
 'revenue analyst at sonder',
 'analyst at morgan stanley',
 'senior analyst at hilton',
 'business technology analyst at deloitte consulting',
 'senior revenue analyst',
 'energy and sustainability analyst',
 'cofounder and coceo, werk',
 'business analyst at wells fargo',
 'functional hris analyst',
 'business analyst at amazon',
 'revenue analyst at highgate',
 'financial analyst ii at amazon web services. (we are hiring financial analysts!)',
 'senior financial analyst',
 'business systems analyst',
 'investment analyst at private trust company',
 'strategy summer analyst',
 'revenue management analyst | cfa candidate | data science & analytics',
 'investment analyst at palm drive capital',
 'feasibility and business intelligence analyst at rosewood hotel group',
 'financial analyst at google',
 'modeling analyst, marketing effectiveness at nielsen',
 'analyst at statista',
 'analyst, infrastructure and energy at macquarie capital',
 'summer analyst at j.p. morgan',
 'investment banking analyst',
 'demand analyst at nielsen',
 'investment analyst @ alphataraxia',
 'marketing analyst - conversion optimization at wb games',
 'investment banking summer analyst at cicc',
 'rates trading analyst at citi',
 'financial analyst at general motors',
 'senior financial analyst at the walt disney company',
 'business analyst at unitedhealth group',
 'analyst at compass lexecon',
 'marketing research analyst at laioffer',
 'analyst at harrison street real estate capital llc',
 'business operations analyst at wework',
 'data analyst | quantitative research | cognitive science',
 'purchase specialist/analyst at sl',
 'operations analyst at altonomy',
 'incoming summer analyst at accel',
 'analyst at blackrock',
 'growth marketing analyst at duopeak',
 'real estate investment summer analyst at cypress capital group',
 'senior analyst at ey',
 'credit analyst at union bank',
 'student at uc berkeley',
 'gis data analyst',
 'analyst at blackrock',
 'data analyst',
 'revenue analyst at royal caribbean international',
 'summer analyst at citi',
 'analyst at softbank investment advisers',
 'data analyst intern at ibm',
 'business technology analyst',
 'bcg consultant',
 'business analyst at mckinsey & company',
 'consulting analyst at accenture',
 'analyst at starcom',
 'analyst at cicc',
 'analyst',
 'analyst at ubs',
 'investment banking summer analyst at rbc',
 'sr. pricing analyst at root',
 'marketing & business planning analyst at mando corp.',
 'investment analyst at cherng family trust',
 'data analyst at media storm',
 'financial analyst at abbott',
 'data analyst at orbital insight, inc.',
 'product analyst at hallmark financial services inc.',
 'business analyst',
 'investment analyst at vanguard',
 'quantitative equity analyst',
 'investment analyst |venture capital',
 'it marketing manager & market analyst',
 'analyst at citi',
 'logistics analyst at juvens inc',
 'senior guest experience analyst at chipotle mexican grill',
 'analyst at j.p. morgan, investment bank',
 "marketing analyst at eve by eve's",
 'sr. planning analyst at estee lauder',
 'investment analyst intern at salmira investment fund',
 'implementation analyst at conversion logic',
 'data analyst at data application lab',
 'senior tax analyst at expedia, inc.',
 'senior h&b consulting analyst at mercer',
 'quality analyst lead at facebook',
 'business analyst at deloitte',
 'consulting analyst at accenture',
 'mergers & acquisitions analyst at hsbc',
 'senior credit analyst- structured products',
 'consulting analyst at accenture',
 'data analyst',
 'actuarial analyst - mib solutions inc.',
 'internal audit analyst, finance at uber',
 'analyst at dalberg',
 'marketing analyst at accenture',
 'analyst at duff & phelps',
 'private equity analyst at peepal tree capital',
 'sr. consulting analyst at mercer',
 'strategic data analyst',
 'summer analyst at jll',
 'business analyst at adobe',
 'business analyst at signify (formerly philips lighting)',
 'senior analyst at mercer',
 'supply chain analyst at boston market',
 'data analyst intern at transwarp',
 'financial analyst',
 'corporate banking analyst',
 'strategy analyst at accenture',
 'data analyst',
 'analyst at blackrock',
 'senior analyst at preferred hotels & resorts',
 'business analyst',
 'ecommerce content analyst',
 'revenue analyst at kimpton hotels & restaurants',
 'data analyst at everymundo',
 'ads analyst at intent',
 'account analyst',
 'strategy analyst at accenture',
 'technical analyst in welltok',
 'reservations manager/revenue analyst at novotel new york times square',
 'group rooms coordinator/revenue analyst at sheraton hotels & resorts',
 'financial analyst at huawei technologies',
 'senior analyst at hospitality investors trust',
 'workforce management analyst at airbnb',
 'analyst at accenture',
 'investment banking analyst',
 'solutions engineer - website analyst at motionpoint',
 'consulting analyst at accenture',
 'customer care analyst at workday',
 'analyst at the blackstone group',
 'consulting analyst at accenture',
 'analyst at goldman sachs',
 'programmer analyst',
 'consulting analyst at accenture',
 'people analyst at hilton',
 'business analyst',
 'senior analyst at hilton',
 'investment analyst',
 'analyst at tpg global',
 'compensation analyst at nbcuniversal media, llc',
 'global industry analyst, i study all aspects of hr, business leadership, corporate l&d, recruiting, and hr technology.',
 'revenue management analyst at american airlines',
 'investment analyst at viking global investors',
 'analyst at kkr',
 'talent analyst at vaco',
 'senior programmer analyst',
 'senior data analyst at netflix',
 'category analyst at chewy',
 'acquisitions analyst at autocamp',
 'ny state licensed real estate salesperson - senior associate - 뉴욕 맨하탄 부동산 중개인 / senior statistical analyst - 채권 분석가',
 'analyst at wells fargo',
 'marketing analyst at rex',
 'investment analyst at rockbridge',
 'data analyst',
 'business analyst at abe company',
 'performance analyst at merkle',
 'senior analyst, development at hilton',
 'sales operations analyst at sonder inc.',
 'merchandising analyst at gos',
 'revenue analyst',
 'staff analyst at boeing',
 'vc',
 'accounting systems analyst at diamond resorts™',
 'economic analyst, forbes & zero hedge writer',
 'business analyst at nestlé',
 'cbs news business analyst, host "jill on money" pod/radio, author of "the dumb things smart people do with their money"',
 'performance media analyst',
 'management analyst',
 'security analyst',
 'financial analyst at oyo',
 'support analyst at amadeus',
 'quality analyst',
 'financial analyst at the mirage',
 'analyst at horwath htl',
 'food & beverage analyst',
 'revenue management analyst',
 'revenue analyst at hilton',
 'digital marketing maven | pm certified | passionate about helping individuals and businesses build their brand',
 'investment banking analyst at credit suisse',
 'investment banking analyst at credit suisse',
 'analyst at carat | digital media | data analytics',
 'financial analyst - fp&a at unitas global',
 'data analyst at pwc',
 'summer analyst at accenture',
 'systems analyst at intuitive',
 'senior analyst at accenture',
 'consulting analyst at accenture',
 'security analyst at accenture',
 'hr analyst at point72',
 'financial analyst at the trade group | cpa candidate',
 'data analyst at apple',
 'data analyst at facebook',
 'analyst',
 'data analyst',
 'mia candidate (international security policy) at columbia university in the city of new york',
 'data analyst',
 'analyst at pfizer strategy & consulting',
 'product analyst at google',
 'data analyst intern at tmon korea',
 'security analyst at accenture',
 'sales analyst',
 'project analyst at kantar',
 'category analyst at miniso usa',
 'actuarial analyst at aig',
 'analyst at morgan stanley',
 'business planning analyst at sk hynix america inc.',
 'marketing analyst at gatorade',
 'management analyst at afs',
 'data analyst at facebook',
 'sophomore at nyu',
 'accounting/financial analyst',
 'purchasing analyst at sl america corporation',
 'analyst at citi',
 'financial analyst at wells fargo capital finance',
 'business analyst/data analyst',
 'incoming client solutions analyst at kepler group',
 'financial analyst at sbi investment korea co., inc',
 'analyst at elliott management',
 'qa analyst at gamechanger',
 'global fp&a analyst',
 'data analyst at hulu',
 'financial analyst at amazon',
 'analyst at health advances',
 'senior analyst at bespoke partners',
 'senior analyst at coach',
 'business analyst at peerstreet',
 'data analyst - heor',
 "merchandise analyst at kohl's",
 'marketing analyst at liepin overseas',
 'it procurement analyst',
 'analyst at mckinsey & company',
 'credential analyst at wes',
 'analyst at neuberger berman',
 'product strategy analyst at centene corporation',
 'founder/analyst/chief investment officer at termsheets.tech',
 'associate analyst at nielsen',
 'analyst at ava foundation',
 'aspiring financial analyst (seeking opportunities)',
 'research analyst at the stevenson group',
 'analyst at claremont companies',
 'associate analyst at mastercard',
 'analyst at the dedham group',
 'financial analyst at new york-new york hotel & casino',
 "data analyst consultant at sheet metal workers' international association",
 'logistics analyst at tesla',
 'incoming private equity analyst at the blackstone group',
 'working for cibc',
 'financial analyst at oracle',
 'financial analyst at ion media networks',
 'consulting analyst at accenture',
 'business analyst at access bio, inc.',
 'business analyst at goodpath',
 'senior analyst at spmb',
 'analyst at pershing square',
 'analyst at dovetail + co',
 'product analyst at datassential',
 'senior financial analyst at verb surgical inc.',
 'talent acquisition analyst at oyo',
 'digital performance analyst at nestlé',
 'hr executive | consultant | m&a | human capital analyst | hr cert prep instructor',
 'senior financial analyst at bacardi',
 'analyst at exoduspoint',
 'analyst at hodes weill & associates',
 'financial analyst at google',
 'case analyst ii at heartflow, inc',
 'analyst at square mile capital management',
 "mckinsey & company | harvard '17 | cambridge '18",
 'sr. sales & bd analyst at lg hausys',
 'hr compliance analyst at wework',
 'feasibility analyst at ihg',
 'business analyst at amazon',
 'analyst at aig global real estate investment corp.',
 'analyst at goldman sachs',
 'senior analyst at hilton',
 'analyst at intercontinental hotels group (ihg®)',
 'investment analyst at a91 partners',
 'private equity analyst at silver lake',
 'management consulting analyst at accenture',
 'technology analyst at insight venture partners',
 'hris analyst at county of san diego',
 'financial analyst at great wolf resorts',
 'senior analyst - fp&a',
 'analyst at the blackstone group',
 'analyst at goldman sachs',
 'innovation analyst at tishman speyer',
 'senior financial analyst at cushman & wakefield',
 'data analyst at google',
 'senior financial analyst at shake shack',
 'financial analyst at schlumberger',
 'operations analyst at sonder inc.',
 'analyst at the chartres lodging group',
 'business analyst at firewood',
 'analyst at walt disney world',
 'data analyst at hilton',
 'lyft| ex-tesla/tcs| tableau| sql| python| looking for full-time opportunities',
 'accounting analyst at wework',
 'product data analyst at tile',
 'analyst - merchandise accounting',
 'it business analyst',
 'analyst at hospitality investors trust',
 'analyst at red cross youth',
 'revenue analyst at norwegian cruise line',
 'senior data analyst',
 'revenue analyst at oyo usa',
 'senior qa analyst',
 'consulting analyst at accenture',
 'senior inventory analyst at nike',
 'research & sourcing analyst at protis global',
 'senior business analyst at aimbridge hospitality',
 'strategic accounts analyst at onyx centersource',
 'healthcare data analyst at bind on-demand health insurance',
 'analyst at slalom consulting',
 'business analyst at ubs / m.s in columbia university',
 'product experience analyst at facebook',
 'senior strategy analyst at accenture strategy',
 'analyst at goldman sachs',
 'analyst at google',
 'data analyst at nordstrom',
 'investment banking analyst at jpmorgan chase & co.',
 'analyst at blackrock',
 'analyst at slalom',
 'analyst at goldman sachs',
 'business analyst at amazon',
 'analyst at j.p. morgan',
 'senior analyst at goldman sachs',
 'analyst at slalom',
 'consulting analyst at accenture',
 'data analyst at amazon',
 'analyst at goldman sachs',
 'incoming analyst at goldman sachs',
 'business analyst at mckinsey & company',
 'investment banking summer analyst at goldman sachs',
 'business analyst at amazon',
 'product analyst at uber',
 'kkr pe analyst',
 'investment banking analyst at evercore',
 'business analyst at amazon',
 'analyst',
 'analyst at the blackstone group',
 'analyst at bmgi',
 'investment banking analyst',
 'senior analyst at amazon',
 'investment banking analyst',
 'data analyst',
 'data analyst at starbucks',
 'business analyst at nordstrom',
 'investment banking analyst at goldman sachs',
 'investment banking analyst at goldman sachs',
 'business & process analyst at boeing',
 'business analyst at amazon',
 'investment banking analyst at goldman sachs',
 'investment analyst at brighton jones',
 'analyst at goldman sachs',
 'analyst at tableau software',
 'associate investment analyst at point72',
 'consulting analyst at accenture',
 'financial analyst at nordstrom',
 'analyst at facebook',
 'consulting analyst at accenture',
 'growth analyst at procter & gamble',
 'business analyst at deloitte consulting - strategy & operations',
 'financial analyst at amazon',
 'investment banking analyst',
 'senior business analyst at expedia group',
 'consulting analyst at accenture',
 'investment banking summer analyst at goldman sachs',
 'consulting analyst at accenture',
 'consulting analyst at accenture',
 'analyst at citadel securities',
 'investment banking analyst at goldman sachs',
 'analyst, jll capital markets',
 'financial analyst at slalom',
 'data analyst',
 'financial analyst at amazon',
 'finance analyst at expedia group',
 'investment banking analyst at hsbc',
 'private bank analyst at j.p. morgan',
 'strategy analyst at zillow group',
 'investment banking analyst at citi',
 'experienced analyst | actively seeking full-time opportunities',
 'business analyst at amazon',
 'senior financial analyst at nordstrom',
 'analyst at goldman sachs',
 'incoming analyst at goldman sachs',

In [43]:
data['Job Title'].nunique()

1388

#### Normalization

In [44]:
# Job Title을 XXX Anaiyst로 통일시켜 줄 것임
# 예시) Marketing Analyst/ Revenue Analyst/ Data Analyst 등 
# 우선 뒤에 at 붙은 것 삭제해주어야 겠다.

In [45]:
import re

In [52]:
job_list[146]

'incoming full-time analyst at jpmorgan chase & co.'

In [53]:
job_list[1].partition(' at ')[0]

'analyst'

In [54]:
job_list[146].partition(' at ')[0]

'incoming full-time analyst'

In [55]:
Title = []
total = len(job_list)

for i in range(total):
    k = job_list[i].partition(' at ')[0]
    Title.append(k)
    
Title

['data analyst',
 'analyst',
 'regional analyst, google',
 'strategy analyst',
 'data analyst',
 'ux analyst & ux designer',
 'data analyst',
 'actuarial analyst',
 'data analyst',
 'investment banking analyst',
 'research analyst',
 'actuarial analyst',
 'business analyst',
 'analyst',
 'analyst',
 'analyst',
 'investment banking analyst',
 'summer analyst',
 'm&a analyst',
 'marketing analyst',
 'financial analyst',
 'transportation analyst',
 'analyst',
 'ceo - carrierdirect',
 'planning and inventory analyst',
 'business analyst | data analyst',
 'financial modelling analyst',
 'financial analyst, cpa',
 'analyst',
 'analyst',
 'market intelligence analyst',
 'financial analyst',
 'climate policy analyst',
 'financial analyst',
 'cgi business analyst',
 'business analyst',
 'risk analyst',
 'gtm operations analyst',
 'upward analyst',
 'sr. analyst',
 'digital analyst',
 'incoming analyst',
 'financial analyst',
 'investment banking analyst',
 'analyst',
 'business analyst',
 'global equity research analyst',
 'senior risk analyst',
 'market insights and strategy analyst',
 'consulting analyst',
 'marketing analyst',
 'fp&a financial analyst',
 'analyst',
 'compensation analyst',
 'analyst',
 'data analyst',
 'analyst',
 'analyst',
 'financial analyst ii',
 'healthcare investment banking analyst',
 'analyst',
 'investment analyst',
 'human resource analyst',
 'cost analyst - uss-posco industries',
 'co-founder and data analyst',
 'business analyst',
 'analyst',
 'analyst',
 'financial analyst',
 'data analyst',
 'analyst',
 'business system analyst',
 'search analyst',
 'analyst',
 'smith college senior | incoming analyst',
 'legal analyst @ dropbox!',
 'analyst',
 'investment banking analyst',
 'data analyst',
 'journalist, economics & global affairs analyst',
 'it business systems analyst intern',
 'data analyst developer',
 'business analyst',
 'data analyst',
 'market research analyst associate',
 'senior growth strategy analyst',
 'summer analyst',
 'crm analyst',
 'data analyst / business intelligence',
 'insights analyst',
 'senior analyst',
 'credit analyst',
 'incoming financial analyst',
 'analyst',
 'manager',
 'avp senior credit analyst',
 'applications analyst',
 'incoming investment banking analyst',
 'chargeback analyst',
 'incoming quantitative & technology services summer analyst',
 'business analyst',
 'financial analyst',
 'analyst',
 'data analyst',
 'revenue analyst',
 'business analyst★cost analyst',
 'bsa analyst',
 '2012 olympian and business analyst',
 'cfdp summer analyst',
 'analyst',
 'data analyst',
 'data analyst',
 'compensation analyst',
 'quantitative analyst',
 'administrative analyst',
 'high standard business analyst with creativity',
 'senior financial analyst',
 'bytedance/tiktok-we are hiring!',
 'financial analyst',
 'people analyst',
 'tax analyst',
 'analyst',
 'analyst',
 'financial analyst',
 'business intelligence analyst',
 'investment banking analyst',
 'benefits analyst',
 'analyst',
 'investment banking analyst',
 'business analyst | owner pbc',
 'investment banking analyst',
 'investment banking analyst',
 'investment banking analyst',
 'analyst',
 'business analyst',
 'credit analyst',
 'analyst',
 'micromobility industries, asymco.com',
 'analyst, blackstone infrastructure',
 'financial analyst',
 'analyst',
 'analyst @ microsoft | schwarzman scholar ‘20',
 'staff database engineer',
 'intelligence analyst',
 'consulting analyst',
 'analyst',
 'incoming full-time analyst',
 'international keynote speaker, thought leader, analyst, advisor, @briansolis',
 'analyst',
 'marketing analyst • mentee • entrepreneur',
 'analyst',
 'revenue analyst',
 'analyst',
 'senior analyst',
 'business technology analyst',
 'senior revenue analyst',
 'energy and sustainability analyst',
 'cofounder and coceo, werk',
 'business analyst',
 'functional hris analyst',
 'business analyst',
 'revenue analyst',
 'financial analyst ii',
 'senior financial analyst',
 'business systems analyst',
 'investment analyst',
 'strategy summer analyst',
 'revenue management analyst | cfa candidate | data science & analytics',
 'investment analyst',
 'feasibility and business intelligence analyst',
 'financial analyst',
 'modeling analyst, marketing effectiveness',
 'analyst',
 'analyst, infrastructure and energy',
 'summer analyst',
 'investment banking analyst',
 'demand analyst',
 'investment analyst @ alphataraxia',
 'marketing analyst - conversion optimization',
 'investment banking summer analyst',
 'rates trading analyst',
 'financial analyst',
 'senior financial analyst',
 'business analyst',
 'analyst',
 'marketing research analyst',
 'analyst',
 'business operations analyst',
 'data analyst | quantitative research | cognitive science',
 'purchase specialist/analyst',
 'operations analyst',
 'incoming summer analyst',
 'analyst',
 'growth marketing analyst',
 'real estate investment summer analyst',
 'senior analyst',
 'credit analyst',
 'student',
 'gis data analyst',
 'analyst',
 'data analyst',
 'revenue analyst',
 'summer analyst',
 'analyst',
 'data analyst intern',
 'business technology analyst',
 'bcg consultant',
 'business analyst',
 'consulting analyst',
 'analyst',
 'analyst',
 'analyst',
 'analyst',
 'investment banking summer analyst',
 'sr. pricing analyst',
 'marketing & business planning analyst',
 'investment analyst',
 'data analyst',
 'financial analyst',
 'data analyst',
 'product analyst',
 'business analyst',
 'investment analyst',
 'quantitative equity analyst',
 'investment analyst |venture capital',
 'it marketing manager & market analyst',
 'analyst',
 'logistics analyst',
 'senior guest experience analyst',
 'analyst',
 'marketing analyst',
 'sr. planning analyst',
 'investment analyst intern',
 'implementation analyst',
 'data analyst',
 'senior tax analyst',
 'senior h&b consulting analyst',
 'quality analyst lead',
 'business analyst',
 'consulting analyst',
 'mergers & acquisitions analyst',
 'senior credit analyst- structured products',
 'consulting analyst',
 'data analyst',
 'actuarial analyst - mib solutions inc.',
 'internal audit analyst, finance',
 'analyst',
 'marketing analyst',
 'analyst',
 'private equity analyst',
 'sr. consulting analyst',
 'strategic data analyst',
 'summer analyst',
 'business analyst',
 'business analyst',
 'senior analyst',
 'supply chain analyst',
 'data analyst intern',
 'financial analyst',
 'corporate banking analyst',
 'strategy analyst',
 'data analyst',
 'analyst',
 'senior analyst',
 'business analyst',
 'ecommerce content analyst',
 'revenue analyst',
 'data analyst',
 'ads analyst',
 'account analyst',
 'strategy analyst',
 'technical analyst in welltok',
 'reservations manager/revenue analyst',
 'group rooms coordinator/revenue analyst',
 'financial analyst',
 'senior analyst',
 'workforce management analyst',
 'analyst',
 'investment banking analyst',
 'solutions engineer - website analyst',
 'consulting analyst',
 'customer care analyst',
 'analyst',
 'consulting analyst',
 'analyst',
 'programmer analyst',
 'consulting analyst',
 'people analyst',
 'business analyst',
 'senior analyst',
 'investment analyst',
 'analyst',
 'compensation analyst',
 'global industry analyst, i study all aspects of hr, business leadership, corporate l&d, recruiting, and hr technology.',
 'revenue management analyst',
 'investment analyst',
 'analyst',
 'talent analyst',
 'senior programmer analyst',
 'senior data analyst',
 'category analyst',
 'acquisitions analyst',
 'ny state licensed real estate salesperson - senior associate - 뉴욕 맨하탄 부동산 중개인 / senior statistical analyst - 채권 분석가',
 'analyst',
 'marketing analyst',
 'investment analyst',
 'data analyst',
 'business analyst',
 'performance analyst',
 'senior analyst, development',
 'sales operations analyst',
 'merchandising analyst',
 'revenue analyst',
 'staff analyst',
 'vc',
 'accounting systems analyst',
 'economic analyst, forbes & zero hedge writer',
 'business analyst',
 'cbs news business analyst, host "jill on money" pod/radio, author of "the dumb things smart people do with their money"',
 'performance media analyst',
 'management analyst',
 'security analyst',
 'financial analyst',
 'support analyst',
 'quality analyst',
 'financial analyst',
 'analyst',
 'food & beverage analyst',
 'revenue management analyst',
 'revenue analyst',
 'digital marketing maven | pm certified | passionate about helping individuals and businesses build their brand',
 'investment banking analyst',
 'investment banking analyst',
 'analyst',
 'financial analyst - fp&a',
 'data analyst',
 'summer analyst',
 'systems analyst',
 'senior analyst',
 'consulting analyst',
 'security analyst',
 'hr analyst',
 'financial analyst',
 'data analyst',
 'data analyst',
 'analyst',
 'data analyst',
 'mia candidate (international security policy)',
 'data analyst',
 'analyst',
 'product analyst',
 'data analyst intern',
 'security analyst',
 'sales analyst',
 'project analyst',
 'category analyst',
 'actuarial analyst',
 'analyst',
 'business planning analyst',
 'marketing analyst',
 'management analyst',
 'data analyst',
 'sophomore',
 'accounting/financial analyst',
 'purchasing analyst',
 'analyst',
 'financial analyst',
 'business analyst/data analyst',
 'incoming client solutions analyst',
 'financial analyst',
 'analyst',
 'qa analyst',
 'global fp&a analyst',
 'data analyst',
 'financial analyst',
 'analyst',
 'senior analyst',
 'senior analyst',
 'business analyst',
 'data analyst - heor',
 'merchandise analyst',
 'marketing analyst',
 'it procurement analyst',
 'analyst',
 'credential analyst',
 'analyst',
 'product strategy analyst',
 'founder/analyst/chief investment officer',
 'associate analyst',
 'analyst',
 'aspiring financial analyst (seeking opportunities)',
 'research analyst',
 'analyst',
 'associate analyst',
 'analyst',
 'financial analyst',
 'data analyst consultant',
 'logistics analyst',
 'incoming private equity analyst',
 'working for cibc',
 'financial analyst',
 'financial analyst',
 'consulting analyst',
 'business analyst',
 'business analyst',
 'senior analyst',
 'analyst',
 'analyst',
 'product analyst',
 'senior financial analyst',
 'talent acquisition analyst',
 'digital performance analyst',
 'hr executive | consultant | m&a | human capital analyst | hr cert prep instructor',
 'senior financial analyst',
 'analyst',
 'analyst',
 'financial analyst',
 'case analyst ii',
 'analyst',
 "mckinsey & company | harvard '17 | cambridge '18",
 'sr. sales & bd analyst',
 'hr compliance analyst',
 'feasibility analyst',
 'business analyst',
 'analyst',
 'analyst',
 'senior analyst',
 'analyst',
 'investment analyst',
 'private equity analyst',
 'management consulting analyst',
 'technology analyst',
 'hris analyst',
 'financial analyst',
 'senior analyst - fp&a',
 'analyst',
 'analyst',
 'innovation analyst',
 'senior financial analyst',
 'data analyst',
 'senior financial analyst',
 'financial analyst',
 'operations analyst',
 'analyst',
 'business analyst',
 'analyst',
 'data analyst',
 'lyft| ex-tesla/tcs| tableau| sql| python| looking for full-time opportunities',
 'accounting analyst',
 'product data analyst',
 'analyst - merchandise accounting',
 'it business analyst',
 'analyst',
 'analyst',
 'revenue analyst',
 'senior data analyst',
 'revenue analyst',
 'senior qa analyst',
 'consulting analyst',
 'senior inventory analyst',
 'research & sourcing analyst',
 'senior business analyst',
 'strategic accounts analyst',
 'healthcare data analyst',
 'analyst',
 'business analyst',
 'product experience analyst',
 'senior strategy analyst',
 'analyst',
 'analyst',
 'data analyst',
 'investment banking analyst',
 'analyst',
 'analyst',
 'analyst',
 'business analyst',
 'analyst',
 'senior analyst',
 'analyst',
 'consulting analyst',
 'data analyst',
 'analyst',
 'incoming analyst',
 'business analyst',
 'investment banking summer analyst',
 'business analyst',
 'product analyst',
 'kkr pe analyst',
 'investment banking analyst',
 'business analyst',
 'analyst',
 'analyst',
 'analyst',
 'investment banking analyst',
 'senior analyst',
 'investment banking analyst',
 'data analyst',
 'data analyst',
 'business analyst',
 'investment banking analyst',
 'investment banking analyst',
 'business & process analyst',
 'business analyst',
 'investment banking analyst',
 'investment analyst',
 'analyst',
 'analyst',
 'associate investment analyst',
 'consulting analyst',
 'financial analyst',
 'analyst',
 'consulting analyst',
 'growth analyst',
 'business analyst',
 'financial analyst',
 'investment banking analyst',
 'senior business analyst',
 'consulting analyst',
 'investment banking summer analyst',
 'consulting analyst',
 'consulting analyst',
 'analyst',
 'investment banking analyst',
 'analyst, jll capital markets',
 'financial analyst',
 'data analyst',
 'financial analyst',
 'finance analyst',
 'investment banking analyst',
 'private bank analyst',
 'strategy analyst',
 'investment banking analyst',
 'experienced analyst | actively seeking full-time opportunities',
 'business analyst',
 'senior financial analyst',
 'analyst',
 'incoming analyst',
 'consulting senior analyst',
 'analyst - strategy & analytics',
 'incoming summer analyst',
 'mba candidate',
 'incoming investments analyst',
 'associate',
 'investment banking analyst',
 'investment banking summer analyst',
 'economics & data analyst',
 'data analyst',
 'investment banking summer analyst',
 'business analyst',
 'analyst',
 'analyst',
 'investment analyst',
 'business analyst',
 'consulting analyst',
 'financial analyst',
 'analyst',
 'data analyst',
 'business analyst',
 'business analyst',
 'financial analyst',
 'product analyst',
 'financial analyst',
 'data analyst',
 'business analyst',
 'analyst',
 'consulting analyst',
 'business analyst @ amazon',
 'analyst',
 'analyst',
 'incoming financial analyst',
 'analyst, salesforce',
 'consulting analyst',
 'data analyst',
 'business analyst',
 'financial analyst',
 'private equity analyst',
 'data analyst',
 'investment banking analyst',
 'financial analyst ii',
 '',
 'analyst',
 'business analyst',
 'incoming financial analyst',
 'incoming private equity analyst',
 'incoming analyst',
 'business analyst',
 'investment banking analyst',
 'investment banking analyst',
 'business analyst',
 'business analyst',
 'business analyst',
 'market analyst',
 'business analyst, prime now',
 'business analyst',
 'finance rotation analyst',
 'incoming investment banking analyst',
 'actively seeking job opportunities as data analyst',
 'bi analyst',
 'senior business analyst',
 'senior analyst , analytics',
 'analyst',
 'data analyst',
 'data analyst',
 'investment banking analyst',
 'financial analyst ii',
 'experienced data analyst available for new opportunity',
 'polar analyst',
 'incoming investment banking summer analyst',
 'analyst, private equity group',
 'investment banking analyst',
 'incoming consulting analyst',
 'business analyst',
 'research analyst',
 'data analyst',
 'quantitative research analyst',
 'senior business analyst',
 'senior business analyst',
 'portfolio insight analyst',
 'investment analyst',
 'associate | special situations group',
 'sr. business analyst',
 'data analyst',
 'bi analyst -seeking new opportunity!!!!!!!!',
 'slalom | love your future',
 'consulting analyst',
 'the blackstone group',
 'technology investment banking analyst',
 'investment banking associate',
 'incoming summer 2020 analyst',
 'associate',
 'analyst',
 'summer analyst',
 'investment banking analyst',
 'seeking opportunities as a data analyst i | business analyst i | data science intern | electronics engineer',
 'consultant',
 'actively seeking for full time opportunities in data science/data analyst/business intelligence',
 'mba candidate',
 'mba candidate',
 'mba candidate',
 'consultant',
 'strategy & analytics @ nordstrom',
 'incoming analyst',
 'vice president',
 'senior analyst',
 'senior analyst',
 'analyst',
 'financial analyst',
 'staff analyst',
 'incoming financial analyst',
 'amazon',
 'investment banking',
 'business analyst',
 'investment banking analyst',
 'incoming analyst',
 'analyst',
 'investment banking analyst',
 'business analyst',
 'product analyst',
 'senior financial analyst',
 'data analyst',
 'investment banking analyst',
 'investment banking analyst',
 'product analyst',
 'forecast analyst',
 'business analyst',
 'data analyst',
 'cfm senior analyst',
 'analyst',
 'investment banking analyst',
 'investment banking analyst',
 'business analyst',
 'business analyst',
 'investment banking analyst',
 'data analyst',
 'business analyst',
 'analyst',
 'ibd analyst - healthcare team',
 'investment banking analyst',
 'financial analyst',
 'investment banking analyst',
 'optimize analyst',
 'tech analyst',
 'senior consulting analyst',
 'investment banking analyst',
 'senior quantitative analyst',
 'investment banking analyst',
 'investment banking analyst',
 'investment banking analyst',
 'investment banking analyst',
 'investment banking analyst',
 'valuation analyst',
 'consulting analyst | accenture digital',
 'investment banking summer analyst',
 'business analyst',
 'data analyst',
 'market analyst',
 'analyst',
 'business analyst',
 'investment banking analyst',
 'business analyst',
 'strategy and operations business analyst',
 'analyst, alternative investments & manager selection',
 'data analyst consultant',
 'investment banking analyst',
 'financial analyst',
 'financial analyst ii',
 'senior financial analyst',
 'private equity analyst',
 'business analyst | retail & ecommerce',
 'business technology analyst',
 'incoming analyst',
 'quantitative research analyst',
 'analyst',
 'incoming analyst',
 'associate',
 'incoming summer analyst',
 'streamliner | analyst | leader',
 'technology analyst',
 'investment banking analyst',
 'business analyst',
 'business analyst',
 'financial analyst 2 | corporate fp&a',
 'student programs business analyst',
 'financial analyst ii',
 'management consultant',
 'cpa | pe analyst',
 'consultant',
 'consultant',
 'analytics @ amazon',
 'associate',
 'analyst',
 'associate',
 'investment banking analyst',
 'analytics @ amazon',
 'vice president',
 'associate',
 'summer analyst',
 'seeking full-time opportunities as data analyst/ business analyst | certified tableau desktop specialist',
 'investment banking analyst',
 'actively looking for full-time opportunities | analytics consultant',
 'investment banking analyst, mergers & acquisitions',
 'special situations group',
 'erp analyst',
 'business intelligence engineer',
 'investment banking analyst',
 'staff analyst',
 'analyst 4',
 'analyst',
 'merchandise analyst',
 'data analyst',
 'data analyst',
 'investment banking analyst',
 'business analyst',
 'investment banking analyst',
 'intelligence analyst',
 'recruiting analyst',
 'data analyst',
 'system analyst',
 'financial analyst ii',
 'analyst',
 'investment banking analyst',
 'data scientist & senior data analyst',
 'senior financial analyst',
 'investment banking analyst (tmt)',
 'senior financial analyst',
 'analyst',
 'investment banking analyst',
 'sr analyst, pricing',
 'analyst/data scientist',
 'business analyst',
 'business analyst',
 'business intelligence analyst',
 'investment banking summer analyst',
 'pricing strategy analyst',
 'investment banking analyst (tmt)',
 'i’m hiring! | principal analyst, amperity',
 'investment manager, financial analyst | open to new opportunities',
 'private equity analyst',
 'incoming investment banking analyst',
 'business analyst | aspiring pm | msba graduate',
 'incoming investment banking analyst',
 'reporting analyst',
 'investment banking analyst',
 'incoming business analyst',
 'mba candidate @ wharton',
 'strategy & operations business analyst',
 'strategy associate',
 'consultant',
 'incoming private equity summer analyst',
 'investment banking summer analyst',
 'incoming data analyst',
 'mergers & acquisitions',
 'incoming sales and trading analyst',

In [57]:
len(set(Title))

822

In [61]:
# JobTitle 이 822개여서 더 줄여야 함.
# 우선 JobTitle에서 'analyst'가 포함되지 않는 것을 살펴볼 예정

non_analyst = []
for i, job in enumerate(Title):
    if 'analyst' not in job:
        non_analyst.append(i)

In [62]:
len(non_analyst)

397

In [70]:
key_vocab = ['marketing', 'revenue', 'business', 'financial', 'data', 'investment banking', 'pricing', 'securities', 'system', 'consulting', '']

In [71]:
# 우선 위에 것 지우고 시작해야겠다. 
check = []
del_list = []

for i, job in enumerate(Title):
    for key in key_vocab:
        check.append(key in job)
    if 'analyst' in job and any(check):
        pass
    else:
        del_list.append(i)
    del check[:]
print(del_list)
len(del_list)

[23, 94, 117, 137, 142, 157, 197, 206, 314, 330, 347, 362, 399, 419, 447, 540, 542, 579, 619, 623, 625, 627, 629, 634, 636, 637, 638, 639, 640, 642, 649, 650, 714, 724, 726, 727, 728, 729, 731, 733, 734, 735, 739, 741, 743, 784, 786, 787, 791, 793, 828, 831, 836, 839, 840, 844, 865, 866, 869, 872, 880, 960, 961, 962, 963, 978, 983, 1073, 1092, 1099, 1111, 1129, 1130, 1136, 1141, 1142, 1151, 1158, 1159, 1162, 1163, 1166, 1167, 1171, 1172, 1173, 1174, 1175, 1180, 1181, 1182, 1183, 1185, 1186, 1187, 1188, 1189, 1190, 1192, 1193, 1195, 1196, 1197, 1200, 1201, 1206, 1211, 1214, 1216, 1220, 1227, 1228, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1240, 1241, 1243, 1244, 1246, 1247, 1248, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1274, 1275, 1277, 1290, 1301, 1303, 1306, 1307, 1308, 1312, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1323, 1324, 1325, 1326, 1327, 1329, 1330, 1331, 1333, 1335, 1336, 1338, 1342, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1355, 1356, 1359, 1361, 1362, 1364, 1366, 1367, 1368, 1369, 1371, 1372, 1373, 1374, 1375, 1376, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1392, 1393, 1394, 1396, 1397, 1398, 1399, 1400, 1402, 1403, 1405, 1406, 1408, 1409, 1410, 1412, 1413, 1416, 1419, 1420, 1422, 1425, 1426, 1427, 1428, 1430, 1432, 1435, 1436, 1438, 1439, 1441, 1443, 1446, 1447, 1448, 1450, 1451, 1452, 1454, 1456, 1457, 1458, 1459, 1461, 1463, 1467, 1468, 1470, 1473, 1475, 1477, 1479, 1480, 1483, 1485, 1486, 1487, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1498, 1500, 1502, 1505, 1506, 1507, 1508, 1509, 1510, 1512, 1513, 1515, 1517, 1518, 1520, 1523, 1524, 1525, 1527, 1528, 1529, 1530, 1531, 1532, 1536, 1539, 1540, 1542, 1545, 1546, 1548, 1550, 1553, 1558, 1561, 1563, 1568, 1571, 1572, 1575, 1576, 1578, 1580, 1581, 1582, 1583, 1585, 1586, 1588, 1589, 1591, 1592, 1593, 1594, 1596, 1597, 1598, 1599, 1600, 1602, 1603, 1604, 1605, 1606, 1607, 1609, 1610, 1611, 1612, 1615, 1616, 1618, 1619, 1623, 1625, 1627, 1628, 1629, 1631, 1634, 1636, 1637, 1638, 1641, 1642, 1644, 1645, 1646, 1647, 1649, 1650, 1651, 1653, 1655, 1656, 1657, 1659, 1661, 1662, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1679, 1680, 1681, 1682]

397

In [72]:
# 위와 같은 결과를 보여준다- 둘다 397개

In [73]:
for i in del_list:
    print(i, Title[i])

23 ceo - carrierdirect
94 manager
117 bytedance/tiktok-we are hiring!
137 micromobility industries, asymco.com
142 staff database engineer
157 cofounder and coceo, werk
197 student
206 bcg consultant
314 vc
330 digital marketing maven | pm certified | passionate about helping individuals and businesses build their brand
347 mia candidate (international security policy)
362 sophomore
399 working for cibc
419 mckinsey & company | harvard '17 | cambridge '18
447 lyft| ex-tesla/tcs| tableau| sql| python| looking for full-time opportunities
540 mba candidate
542 associate
579
619 associate | special situations group
623 slalom | love your future
625 the blackstone group
627 investment banking associate
629 associate
634 consultant
636 mba candidate
637 mba candidate
638 mba candidate
639 consultant
640 strategy & analytics @ nordstrom
642 vice president
649 amazon
650 investment banking
714 associate
724 management consultant
726 consultant
727 consultant
728 analytics @ amazon
729 associate
731 associate
733 analytics @ amazon
734 vice president
735 associate
739 actively looking for full-time opportunities | analytics consultant
741 special situations group
743 business intelligence engineer
784 mba candidate @ wharton
786 strategy associate
787 consultant
791 mergers & acquisitions
793 seeking full-time opportunities | data analytics/data science
828 associate
831 vice president
836 strategist
839 analytics
840 consultant
844 mba candidate
865 vice president
866 mba candidate
869 associate
872 associate
880 mba candidate
960
961
962
963
978 supply chain sfa
983 trade training manager
1073 imc candidate
1092 svp, sales / bd
1099 paid search marketing strategist
1111 claoudml.com | i teach people data science and analytics
1129 stay hungry~
1130 recruiting associate
1136 financial advisor
1141 hr sourcing coordinator
1142 marketing manager|account manager|marketing director|project manager|client services|
1151 assistant brand manager marketing
1158 student
1159 research assistant
1162 head of marketing
1163 marketing & partnerships
1166 strategic marketing analytics professional
1167 mba | digital marketing(affiliate) | account management | marketing analysis/strategy | enligh/korean fluency
1171 marketing director
1172 marketing manager
1173 ms in business analytics i experience in marketing and sales
1174 marketing manager
1175 digital marketing manager
1180 marketing
1181 marketing manager
1182 head of marketing, wework
1183 analytics manager, marketing science
1185 cmo, cao, board member, marketing & credit management consultant
1186 digital marketing & branding strategist
1187 marketing manager
1188 ba | da | pm | marketing | scm - actively looking
1189 global head of customer marketing & analytics
1190 marketing & promotions manager
1192 marketing professional
1193 finance: internet of things group
1195 audit & assurance analytics specialist
1196 nba & hoops partnerships
1197 marketing @wework
1200 marketing director
1201 social media intern
1206 marketing enthusiast
1211 vice president, marketing -- cmo, google cloud
1214 marketing professional
1216 marketing consultant
1220 usc alum; marketing manager
1227 growth marketing
1228 marketing research
1231 marketing associate
1232 growth marketing strategy
1233 growth marketing & analytics
1234 marketing strategy & analysis
1235 growth marketing & user acquisition @ twitter
1236 growth marketing @ robinhood
1237 growth strategy
1238 performance marketing & growth
1240 head of growth marketing (ex-spotify)
1241 growth marketing leader | acquisition, engagement, & retention
1243 federal communications strategist // digital marketing campaigns // content management // email sme
1244 actively looking for a position in digital marketing
1246 marketing
1247 growth
1248 head of growth
1251 chief marketing officer
1252 growth
1253 growth
1254 product marketing @ zillow
1255 growth @ linkedin
1256 growth marketing leader
1257 digital marketing and user acquisition professional
1258 seeking new opportunities
1259 marketing coordinator
1260 growth marketing & analytics
1261 senior manager, us consumer marketing
1262 growth marketing
1264 marketing and advertising pro
1265 looking for opportunities in business development and sales/marketing
1266 performance marketing
1267 growth marketing
1268 senior manager, growth marketing
1269 growth marketing manager
1270 growth & insights
1271 assistant manager, retention marketing
1272 new market strategy
1274 marketing
1275 marketing
1277 chief marketing & innovation officer, diageo north america
1290 groups reservations coordinator
1301 platform architect lead
1303 marketing
1306 marketing intern
1307 northwestern m.s. | 4+ years in data analytics | business strategy | growth marketing
1308 global gtm & marketing lead, microsoft azure - ingram micro
1312 director of digital marketing
1315 marketing campaign manager
1316 business development
1317 digital marketing | marketing analytics professional
1318 junior marketing manager
1319 b2b partnership & marketing for mobile products
1320 m.s. business analytics graduate | data analytics | business intelligence | marketing science
1321 product marketing
1323 marketing manager
1324 product marketing manager
1325 marketing specialist
1326 md, china
1327 incoming product marketing manager
1329 chief marketing officer, general manager, board member
1330 senior director global marketing
1331 director of marketing - shopping
1333 northwestern university integrated marketing communications candidate
1335 vice president, marketing
1336 学生 - 美国纽约大学
1338 head of marketing
1342 vp marketing
1344 marketing coordinator
1345 marketing professional of financial services
1346 marketing and community lead
1347 senior marketing manager
1348 marketing program manager
1349 advertising specialist
1350 strategy / marketing analytics professional
1355 blockchain, vc, mca, funding; investor relations, bizdev, fintech, canna; founder & ceo @agm global group
1356 senior vice president, advertising and brand engagement
1359 communications / marketing / market research analysis
1361 m.s., integrated marketing candidate
1362 digital marketing & analytics intern
1364 student athlete
1366 marketing @ linkedin
1367 digital marketing specialist
1368 chief marketing officer
1369 consultant
1371 director of loyalty marketing
1372 senior manager, sales & marketing analytics
1373 associate product marketing manager
1374 marketing director
1375 aviation * destination marketing * communications * mice professional with a passion for relationship building and global business.
1376 growth marketing
1378 director, marketing data & insights
1379 business intelligence, market research, strategy, analytics, regulatory management, operations
1380 director, partner marketing
1381 event marketer specializing in trade show management, conferences and special events!
1382 sr director of marketing
1383 marketing @ zocdoc
1384 chief sumo
1385 senior director of marketing
1386 marketing & business development - travel industry
1387 sr. marketing manager
1388 product marketing management
1389 student in university of california, los angeles
1390 brand marketing
1392 global marketing
1393 marketing
1394 marketing coordinator
1396 marketing manager
1397 marketing
1398 human resources
1399 human resources
1400 director of product marketing
1402 channel marketing
1403 director of marketing
1405 marketing coordinator
1406 marketing
1408 ceo/fouder
1409 performance marketing
1410 director of pr & marketing
1412 marketing
1413 manager/buyer
1416 marketing manager
1419 marketing @uipath
1420 51 labs founder | debtmaven founder | elite meet co-founder
1422 growth @ dropbox | data viz trainer | data science | tableau certified | data viz
1425 pmm manager
1426 need a chief marketing officer to create and execute marketing strategy
1427 stroudinc
1428 -
1430 product manager
1432 digital marketing/pr supervisor
1435
1436 applied mathematics, uc berkeley
1438 marketing, brand and content executive
1439 associate product marketing manager
1441 manager, marketing science
1443 marketing operations & analytics manager
1446 senior associate consultant
1447 product, marketing and operations
1448 senior marketing leader | loyalty & customer experience management | co-brand & partnership development | crm
1450 email marketing specialist
1451 graduate student - mms candidate
1452 marketing finance
1454 creative marketing coordinator
1456 communications manager for social media and digital marketing - burger king north america
1457 marketing and branding associate
1458 student
1459 marketing @ venmo
1461 digital marketing specialist
1463 digital marketing specialist
1467 monetization & growth strategy @linkedin
1468 marketing analytics professional | nyu graduate | seeking full-time opportunities in market research & market analytics
1470 digital marketing analytics expert
1473 the johns hopkins university
1475 big data marketing professional
1477 marketing intern
1479 global head of growth (sales & marketing)
1480 project leader, strategic design(entertainment)
1483 marketing
1485 senior associate digital marketing analytics
1486 marketing program manager
1487 director of ecommerce and digital marketing
1489 global digital commerce, loyalty, consumer insights, and performance marketing
1490 project manager
1491 storyteller and marketing strategist
1492 digital marketing professional, organizer, creator who has lived in 3 countries and speaks multiple languages
1493 marketing performance and insights
1494 business consultant mkt strategy pricing
1495 samsung global bixby developer marketing
1496 experiential marketing
1498 producer
1500 global marketing campaign manager
1502 digital, ecommerce and marketing leader
1505 founder of product hunt, weekend fund investor
1506 senior vice president of marketing
1507 chief marketing officer
1508 marketing operations
1509 vp of marketing
1510 investor and advisor to startups for growth, marketing, and strategy
1512 vp, brand marketing
1513 marketing automation manager
1515 marketing to the moon
1517 marketing
1518 marketing director / co-founder
1520 hospitality industry / marketing
1523 manager, marketing analytics
1524
1525
1527 community & marketing | founder resource
1528 vice president, marketing
1529 marketing manager
1530 marketing & e-commerce manager
1531 marketing @ domio | we're hiring!
1532 specialty recruiter
1536 actively seeking data science opportunities | data science summer intern
1539 marketing
1540 marketing performance and operations
1542 partnership marketing manager
1545 marketing analytics
1546 marketing and consumer experience executive
1548 growth marketing
1550 strategic & tactical marketing | digital marketing | brand management | product strategy | crm | creative | innovative
1553 teaching assistant
1558 student
1561 media manager
1563 licensing sales support specialist
1568 product marketing intern
1571 marketing senior director
1572 global marketing communications project leader
1575 management consultant
1576 chief marketing officer
1578 incoming mckinsey & company intern | university of michigan student
1580 vp sales, marketing & ecommerce
1581 optimizing sales & marketing
1582 assistant marketing manager
1583 global paid media
1585 executive director, enterprise marketing
1586 growth marketing
1588 sr. manager content marketing
1589 strategy manager @ intuit | harvard mba | ex-bcg
1591 marketing consultant
1592 director of brand and digital marketing
1593 director, digital marketing
1594 vice president of marketing
1596 presence coach for leaders
1597 senior manager, marketing and business development - global licensing
1598 director partnerships marketing
1599 product marketing manager
1600 vp revenue, sales, & marketing, delaware north companies
1602 director of marketing
1603 director, global brand marketing
1604 marketing director
1605 b2b marketing
1606 event director of b2b marketing expo usa and small business consultant
1607 marketing guru
1609 director of sales and marketing
1610 marketing and strategy
1611 bridge-builder, corporate leader and innovator - branding, marketing and communications executive driving growth
1612 analytics manager
1615 entrepreneur, marketing and business development
1616 internationally experienced corporate sales account executive i marketing i customer service
1618 senior marketing manager - global banking
1619 student
1623 director, product marketing
1625 product marketing manager
1627 marketing measurement strategist
1628 director of database marketing
1629 director of product marketing
1631 marketing program manager
1634 msba 20‘
1636 --
1637 marketing and operations professional
1638 stem mba in marketing
1641 manager acquisition marketing
1642 assistant manager
1644 diversity, equity & inclusion
1645 vp, marketing @ usual wines
1646 professional background in management consulting, new business development, finance, sales & marketing.
1647 vice president - data science & analytics
1649 strategy | product marketing | ai for sales and marketing | x-bcg
1650 director of marketing
1651 director of purchasing
1653 head of marketing
1655 director, business solution architecture
1656 marketing director
1657 marketing manager
1659 marketing
1661 data scientist
1662 marketing
1664 marketing
1665 vp marketing
1666 sales and marketing operations manager
1667 digital marketing specialist
1668 manager, marketing analytics
1669 vp of global marketing
1670 chief marketing officer
1671 strategist, consultant and data analytics professional
1672 freelance marketing consultant
1673 vp marketing
1674 director of operations
1675 leisure sales manager
1676 director of business development
1677 chief financial officer
1679 data science
1680 marketing manager
1681 direct marketing manager
1682 director of business development

In [75]:
data.iloc[540]

Education                                                              []
Experience                                                             []
Industry Knowledge                                                    NaN
Interpersonal Skills                                                  NaN
Job Title                        MBA Candidate at Harvard Business School
Languages                                                             NaN
Location                                            Boston, Massachusetts
Other Skills                                                          NaN
Skills & Endorsements    [{'Skills': ''}, {'Skills': ''}, {'Skills': ''}]
Tools & Technologies                                                  NaN
ID                                                                    561
Name: 540, dtype: object

In [76]:
data.iloc[1524]

Education                  []
Experience                 []
Industry Knowledge        NaN
Interpersonal Skills      NaN
Job Title
Languages                 NaN
Location
Other Skills              NaN
Skills & Endorsements      []
Tools & Technologies      NaN
ID                       1694
Name: 1524, dtype: object

In [78]:
# del_list 기준으로 dataFrame에서 삭제
data.drop(del_list, inplace=True)
len(data)

1286

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1286 entries, 0 to 1678
Data columns (total 11 columns):
Education                1286 non-null object
Experience               1286 non-null object
Industry Knowledge       778 non-null object
Interpersonal Skills     682 non-null object
Job Title                1286 non-null object
Languages                106 non-null object
Location                 1286 non-null object
Other Skills             614 non-null object
Skills & Endorsements    1286 non-null object
Tools & Technologies     762 non-null object
ID                       1286 non-null int64
dtypes: int64(1), object(10)
memory usage: 120.6+ KB

In [84]:
# 없애기는 했는데...
# 이 상태에서 Title을 Series화 해서 dataFrame에 붙이면 안될 것 같음(index문제) 
# 위에 Title에서 del_list삭제한 것 빼줘야 될 것 같은데.. 어떻게 하지..?

In [85]:
# data['Job Title'] 가지고 와서 전에 했던 것 처럼 
# 우선, at~ 이 뒤에 다 빼고
# 이걸 시리즈화 해서  
# dataFrame에 붙여야 할 거 같음.
# 단지 주의할 점이, reindex 진행하고 해야한다는 점!!!!!
## 이거는 내일 해야겠다

In [87]:
data.to_csv('test.csv')